@model DTO.UserPage.UserPageModel

@{
    Layout = "_Layout";
}

<div class="container">
    <h3>@Model.Name</h3>
    <div class="card shadow-sm p-3 mb-5 bg-body rounded justify-content-center">
        <div class="row g-0">
            <p>@Model.Email</p>
        </div>
        <div class="row g-0">
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="row g-0">
            <p>@Model.Address</p>
        </div>
        <div class="row g-0">
            <h5>Order:</h5>
            <div class="card shadow-sm p-3 mb-5 bg-body rounded justify-content-center">
                @{
                    foreach (var product in Model.Order.Products)
                    {
                        <div class="col">
                            <p>@product.Name</p>
                        </div>
                    }
                    <p>Status: @Model.Order.Status</p>
                }
            </div>
        </div>
    </div>
</div>